modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["node", "dist/index.js"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VITE_CALENDLY_URL = "https://calendly.com/ana-amjsolutionsgroup/30min"
RESEND_FROM_EMAIL = "AMJ Solutions Group <contact@amjsolutionsgroup.com>"
RESEND_TO_EMAIL = "ana@amjsolutionsgroup.com"
VITE_WEB3FORMS_KEY = "b1b21403-e527-434f-ba4f-82a405348e33"

[userenv.development]
